/* Colors
Blue - 				0D47A1
Light Blue - 	1565C0
*/

/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Nothing+You+Could+Do);
html, body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color:#111;
	background-color:rgb(245,245,245);	font-size:14pt;
}


a{	transition:color .15s ease-in, background-color .15s ease-in;
}

a:hover{	transition:color .15s ease-out, background-color .15s ease-out;
}

.cb-main-logo{
	width:100vw;
	font-size:2rem;
}


.cb-main-logo img{
width:100%;
max-width:600px;
}


.title{
	color:#fff;
	font-weight:300;
}

/*	Navbar	*/

nav{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:center;
	-webkit-justify-content:center;
	height:50px;
	position:fixed;
	width:100%;
	z-index:99;
	top:0;
	font-weight:300;
	font-size:.75rem;
	text-transform: uppercase;
}

.cb-nav-bg{
	height:50px;
	background-color:#0D47A1; /* Fallback */

	background: linear-gradient(to bottom, #1565C0,#0D47A1);
	position:fixed;
	width:100%;
	z-index:90;
		top:0;
		opacity:0;	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cb-container{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	height:100%;
}


.cb-navigation{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	align-items:justify-content;
	-webkit-align-items:justify-content;
	height:50px;
}


.cb-logo{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	color:#fff;
	opacity:0;
	font-weight:400;
	align-items:center;
	-webkit-align-items:center;
}

.cb-logo img{
	height:2rem;
	margin-top:.5em;
}


.cb-logo abbr{
	color:#fff;
}

.cb-navigation ul {
	padding-top:none;
	margin-top:none;
	width:100%;
	height:100%;
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	align-items:justify-content;
	-webkit-align-items:justify-content;
}

.cb-navigation ul li{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	align-items:justify-content;
	-webkit-align-items:justify-content;
}

.cb-navigation ul li a{
	color:#fff;
	text-decoration: none;
	padding:10px;
	border-radius:4px;
}

.cb-navigation ul li a:hover{
	color:#0D47A1;
	background-color:#fff;
}

.cb-navigation a .fa-twitter:hover, .cb-twitter:hover a{	color:#00aced!important;
}

.cb-navigation a .fa-google-plus:hover, .cb-google-plus:hover a{	color:#dd4b39!important;
}

.cb-navigation a .fa-github:hover, .cb-github:hover a{	color:#614381!important;
}

.cb-navigation a .fa-linkedin:hover, .cb-linkedin:hover a{	color:#007bb6!important;
}


.cb-navigation a .fa-gitlab:hover, .cb-gitlab:hover a{	color:#fc6d26!important;
}

.cb-navigation a .fa{
	border-radius:2px;
}


.cb-navigation a .fa{	transition:color .15s ease-in, background-color .15s ease-in;
}

.cb-navigation a .fa:hover{	transition:color .15s ease-out, background-color .15s ease-out;
}


.cb-navbar{
	position:relative;
	line-height:100%;
}

.cb-navbar{
	display:table;
}

.cb-navbar-content{
	display:table-cell;
	vertical-align:middle;
	margin:0!important;
	padding:0!important;
	text-transform:uppercase;
	font-size:.8em;
}

nav ul li{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	align-items:center;
	-webkit-align-items:center;
}

.clear{
	clear:both;
}


/* Sidebar */
.cb-sidebar{
	padding-left:3vw;
	padding-top:2rem;
}

/* Mobile Nav Overlay */

.cb-nav-overlay{
	height:100%;
	position:fixed;
	top:0;
	background-color:#0D47A1;
	color:#fff;
	z-index:9001;
}

.cb-nav-hidden{
	display:none;
}

.cb-nav-overlay-menu{
	color:#fff;
	width:auto;
	width:300px;
	min-width:50%;
	max-width:75%;
	height:100%;
	overflow:scroll;
	-webkit-overflow-scrolling: touch;
}

.cb-nav-overlay-menu a{
	color:#fff;
	text-decoration: none;
}

.cb-nav-overlay-menu ul>li>a{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	margin:5px 5px 5px 5px;
	padding:5px 5px 5px 5px;
	border-bottom:1px solid rgba(255,255,255,.1);
	width:100%;
}


/* Images */

.cb-img-center{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	margin-bottom:1em;
}

.cb-img-responsive{
	width:100%;
	height:auto;
}

.cb-img-right{
	display:block;
	float:right;
	width:40%;
	margin-left:20px;
}

.cb-img-left{
	display:block;
	float:left;
	width:40%;
	margin-right:20px;
}

.cb-img-half{
	width:50%;
}

.cb-img-two-thrid{
	width:66%;
}

.cb-img-one-third{
	width:33%;
}

/* Content */
#cb-content{
	z-index:4;
	font-size:1rem;
	overflow:initial;
	background-color:rgb(245,245,245);
}

#cb-content a{
	font-weight:600;
}

#cb-content .cb-samples a{
	font-weight:400;
}


/* Portfolio Samples */
.cb-samples>div{
	background-color:transparent;
}

.cb-samples{
	font-size:.75rem;
}

.cb-samples>div img{
	width:95%;
}

.cb-samples a img{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition:box-shadow .15s ease-in;
}

.cb-samples a img:hover{
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:box-shadow .15s ease-out;
}

/* Parallax*/
.parallax__group-height{
}

#cb-content div, #cb-content div>div, #cb-content div>div>div{
	overflow:initial;
	height:initial;
}

#cb-content p{
	margin-bottom:1.15rem;
	line-height:1.5em;
}

#cb-content{
	height:10px!important;
}

.cb-size-auto{
	height:auto;
	overflow:visible;
}


/* backgrounds for parallax */
.cb-bg-random{
	background: #000 url('http://unsplash.it/1920/1080/?random') center center no-repeat!important;
	background-size:cover!important;
}


.cb-bg-chicago{
	/*background: #000 url('../img/chicago-sunrise-compressed.jpg') top center no-repeat!important;*/

	background: #000 url('../img/unsplash-bg-chicago2.jpg') top center no-repeat!important;
	background-size:cover!important;}

	.cb-bg-design{
	background: #000 url('../img/unsplash-bg-design2.jpg') center center no-repeat!important;
	background-size:cover!important;}


.cb-bg-personal{
	background: #000 url('../img/unsplash-bg-lake-michigan.jpg') center center no-repeat!important;
	background: #000 url('../img/bg-chicago-sunset.jpg') center center no-repeat!important;
	background-size:cover!important;}


.cb-bg-dev{
	background: #000 url('../img/unsplash-bg-3.jpg') center center no-repeat!important;
	background-size:cover!important;}

	.cb-bg-404{
	background: #fff url('../img/404.png') center center no-repeat!important;
	background-size:cover!important;}


/* 75 vh */

.cb-size-75{
	height:75vh;
}

.cb-size-75 .parallax__layer--back{
	height:calc(75vh + 300px);
	top:-150px;
}

.cb-size-75 .parallax__layer--deep {
	height:calc(75vh + 600px);
	top:-300px;
}

/* 50 vh */
.cb-size-50{
	height:50vh;
}

.cb-size-50 .parallax__layer--back{
	height:calc(50vh + 300px);
	top:-150px;
}

.cb-size-50 .parallax__layer--deep {
	height:calc(50vh + 600px);
	top:-300px;
}

/* 25 vh */
.cb-size-25{
	height:25vh;
}

.cb-size-25 .parallax__layer--back{
	height:calc(25vh + 300px);
	top:-150px;
}

.cb-size-25 .parallax__layer--deep {
	height:calc(25vh + 600px);
	top:-300px;
}

/* 90 vh */
.cb-size-90{
	height:90vh;
}

.cb-size-90 .parallax__layer--back{
	height:calc(90vh + 300px);
	top:-150px;
}

.cb-size-90 .parallax__layer--deep {
	height:calc(90vh + 600px);
	top:-300px;
}


.cb-parallax-top{			display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display:flex;
	align-items:center;
	-webkit-align-items:center;
	justify-content:center;
	-webkit-justify-content:center;
}


.parallax__layer--top {	display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display:flex;
	align-items:top;
	-webkit-align-items:top;
	justify-content:center;
	-webkit-justify-content:center;
	position: absolute;
	top: 0;
	-webkit-transform-origin-x: 100%;
	transform-origin-x: 100%;
}

/****************************
Material Z-Index Shadows
*****************************/
.cb-z-depth-1{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cb-z-depth-2{
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cb-z-depth-3{
	box-shadow: 0 7px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cb-z-depth-4{
	box-shadow: 0 11px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.cb-z-depth-5{
	box-shadow: 0 16px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


/* Containers */
.cb-container-fixed{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
		margin-left:1rem;
		margin-right:1rem;
		margin-bottom:50px;
}

.cb-container-fixed .modal-content{
	width:100%;
}

.cb-main-content{
	margin-top:-10vh;
	background-color:#fff;
	padding:5vw 5vw 0 5vw;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cb-main-content a{
	color:#0D47A1;
	text-decoration:none;
	transition:color .15s ease-in;
}

.cb-main-content a:hover{
	color:#B71C1C;
	transition:color .15s ease-out;
}

.cb-main-content h1, .cb-main-content h2, .cb-main-content h3, .modal-content h1, .modal-content h2, .modal-content h3{
	color:#0D47A1;
	font-weight:400;
	margin-bottom:.75em;
	line-height:1.15em;
}

.cb-main-content h1:not(:first-child), .cb-main-content h2, .cb-main-content h3{
	margin-top:3rem;
	line-height:1.15em;
}

.cb-main-content .cb-portfolio-item h2{
	margin-top:10px;
	line-height:1.15em;
}


.cb-content-secondary h1, .cb-content-secondary h2, .cb-content-secondary h3{
	color:#0D47A1;
	font-weight:400;
	margin-bottom:1rem;
	line-height:1.15em;
}

.cb-content-secondary h1:not(:first-child), .cb-content-secondary h2, .cb-content-secondary h3, .modal-content h1:not(:first-child), .modal-content h2:not(:first-child), .modal-content h3:not(:first-child){
	margin-top:2em;
}


.cb-main-content ul, .cb-content-secondary ul{
	margin-left:40px;
	font-size:.9rem;
}

.cb-main-content li, .cb-content-secondary li{
	line-height:2rem;
}

.cb-main-content ul ul li, .cb-content-secondary ul ul li{
	font-size: .8rem;
	line-height: 1.5rem;}

	.cb-content-secondary{
	margin-top:-10vh;
	background-color:#fff;
	padding:5vw;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-top:-2rem;
}

.cb-samples{
	padding-bottom:5vh;}

	.cb-content-secondary a{
	color:#0D47A1;
	text-decoration:none;
	transition:color .15s ease-in;
}

.cb-content-secondary a:hover{
	color:#B71C1C;
	transition:color .15s ease-out;
}


.cb-container-main{
	display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
	display:flex;
	background-color:rgb(245,245,245);
	width:100%;
	z-index:4;
	background: #f5f5f5; /* Old browsers */

	background: -moz-linear-gradient(top, #f5f5f5 0%, #eee 100%); /* FF3.6-15 */

	background: -webkit-linear-gradient(top, #f5f5f5 0%,#eee 100%); /* Chrome10-25,Safari5.1-6 */

	background: linear-gradient(to bottom, #f5f5f5 0%,#eee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eee',GradientType=0 ); /* IE6-9 */

}

/* Secondary Color (Blue) */

.cb-blue-bg{
	color:#fff!important;
	background-color:#0D47A1!important;
	background: linear-gradient(to bottom right, #0D47A1, #1565C0);
  background: radial-gradient(#1565C0, #0D47A1); /* Standard syntax */

	font-weight:normal;
}


.cb-blue-bg a{
	color:#90CAF9;
}

.cb-blue-bg h1, .cb-blue-bg h2,  .cb-blue-bg h4,  .cb-blue-bg h4{
	color:#fff;
}


/* Extra Small */
@media only screen and (max-width:479px){
	.cb-main-logo{
		width:80vw;
	}


}

@media screen and (max-width:768px){
	.cb-container-fixed{
		width:100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom:0;
	}

		footer{
		padding-left:1rem;
		padding-right:1rem;
	}

		footer p{
		margin-right:20px;
	}


	.cb-main-logo p{
		font-size:4vw;
	}

		html,body{font-size:12pt;}


}

/* Standard */

@media screen and (min-width:1160px){
	.cb-container-fixed{width:1160px;margin-left:1rem;margin-right:1rem;}


}

footer{
	background-color:#0D47A1;
	color:#fff;
	width:100%;
	font-size:.7rem;
	padding-top:20px;}


footer a{
	color:#fff;
}

.cb-portfolio-item:hover img{
	-webkit-filter:contrast(1.5);
	filter:contrast(1.5);
	transition: -webkit-filter .5s ease-out, filter .5s ease-out, box-shadow .5s ease-out;	box-shadow: 0 7px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}

	.cb-portfolio-item:hover h2{
	text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: text-shadow .5s ease-out, color .5s ease-out;
	color:#B71C1C;
}

.cb-portfolio-items{
	margin-bottom:50px;
	margin-top:25px;
}

.cb-portfolio-items img{
	border-radius:900px;
	width:60%;
	-webkit-filter:contrast(1);
	filter:contrast(1);
	transition: -webkit-filter .5s ease-in, filter .5s ease-in, box-shadow .5s ease-in;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cb-portfolio-items h2{	transition: text-shadow .5s ease-in, color .5s ease-in;
	font-size:1rem;
	margin-top:10px;
	margin-bottom:50px;
}

.cb-portfolio-items img:hover{}


.cb-portfolio-websites{
	background:url('../img/websites/my_myspace_by_xiberkernel.png');
}


/* Modals */
.modal-body{
	font-size:.8em;
	padding-top:3rem;
}

.modal-content{
	box-shadow: 0 7px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.modal-content p{
	margin-bottom:1rem;
}

.modal-dialog{
	margin-left:auto;
	margin-right:auto;
	min-height:90%;
}

.modal{	background-color:rgba(255, 255, 255, 0.9);!important;
}

.modal-title{
	font-size:2rem;
	text-transform: uppercase;
	font-weight:600;
}

.modal-header{
	color:#fff;
	background-color:#0D47A1;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.modal-header .close{
	color:#fff;
}

.modal-footer{
	border:0;
}

/* Buttons */

.cb-btn{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: .5em 1em .5em 1em;
	border:1px solid rgba(0,0,0,.1);
	transition: box-shadow .3s ease-in, color .3s ease-in!important;}

	.cb-blue-bg .cb-btn{
	color:#0D47A1;
	background-color:#fff;}

	.cb-btn:hover{
	box-shadow: 0 7px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: box-shadow .3s ease-out, color .3s ease-out!important;
}

.cb-btn-primary{
	background-color:#0D47A1;
	color:#fff;
}


/* Tables */
table{
	width:100%;
	text-align:left;
	vertical-align: top;
}

table tr{
	border-bottom:1px solid rgba(0,0,0,0.1);
}

table tr th, table tr td{
	padding:.5em;
	vertical-align: top;
}


/* TODO: Move */
.cb-pageWrap{
	top:0
	height:auto;
	overflow:hidden;
}

/* JS */
.js-menuToggle{
	color:#fff;
}


/* Front Page Cards */

.cb-frontpage-card{
	box-shadow: 0 7px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	calc(width:100% - 100px);
	margin:50px;
	text-transform: uppercase;
}


.cb-frontpage-title{
	font-size:.9em;
	border-bottom:1px solid rgba(0, 0, 0, 0.25);
}

/*Company / work history profiles*/

.cb-company-profile{
	background-color:white;
	width:100%;
	color:#111;
	padding-left:1em;
	padding-right:1em;
	padding-top:1em;
	xxpadding-bottom:1em;
	box-shadow: 0 2px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	margin-top:3em;
}

.cb-company-profile h1, .cb-company-profile h2{
	color:#0D47A1;
	margin-bottom:0;
	margin-top:0;
	font-size:2em;
}

/*.cb-company-header{
	width:100%;
	background-color:red;
	height:auto;
	display:inline-block;
}*/

.cb-company-header{
	margin-bottom:1em;
}

.cb-company-details{
	font-size:.8em;
	margin-top:0;
	xxline-height: -2em!important;
}

.cb-company-overview ul{
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display:flex;
align-items:justify-content;
-webkit-align-items:justify-content;
margin-left: 0em;
flex-wrap:wrap;
-webkit-flex-wrap:wrap;
}

.cb-company-overview ul li{

		display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
		display:flex;
		align-items:left;
		-webkit-align-items:left;
		margin-left: 0em;
		line-height:1.5em;
		font-size:.9em;
		font-weight: 600;
		margin-right:2em;
}

.cb-company-details .ff-12-sm{
	padding:1em;
}

.cb-company-details ul, .cb-company-details li{
	padding-left:0;
	margin-left:0;
}

.cb-company-details ul{
	margin-left:1em;
}

.cb-company-logo{
	float:right;
	max-height:4rem;
}

.cb-company-details ul li{
	line-height: 1.5em;
	font-size:.9em;
	margin-bottom:1em;
	font-style: italic;
}
