/*
Copyright (c) 2016 by Keith Clark (http://codepen.io/keithclark/pen/JycFw)

Permission is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal in the Software
without restriction, including without limitation the rights to use, copy, modify, merge,
publish, distribute, sublicense, and/or sell copies of the Software, and to permit
persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or
substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS
BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
OTHER DEALINGS IN THE SOFTWARE.
*/

body {
  transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
  margin:0!important;
  padding:0!important;
}

.parallax {
  height: 500px; /* fallback for older browsers */
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  margin:0!important;
  padding:0!important;
}

.parallax__group {
  position: relative;
  height: 500px; /* fallback for older browsers */
  height: 100vh;
}

.parallax__group2 {
  position: relative;
  xheight: 500px; /* fallback for older browsers */
  xheight: 100vh;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.parallax__layer--fore {
  z-index: 1;
}

.parallax__layer--base {
  z-index: 4;
}

.parallax__layer--back {
  z-index: 3;
}

.parallax__layer--deep {
  z-index: 2;
}



/* , @media not all and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) and (min-width:768px) */


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {    /* ... parallax styles ... */



    body {
      transform: translateZ(0px); /* Fix paint issues in Edge && Safari H/W acceleration */
      margin:0;
      padding:0;
    }

    .parallax {
      height: 500px; /* fallback for older browsers */
      height: 100vh;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
      -webkit-perspective: 300px;
      perspective: 300px;
      -webkit-perspective-origin-x: 100%;
      perspective-origin-x: 100%;
    }

    .parallax__group {
      position: relative;
      height: 500px; /* fallback for older browsers */
      height: 100vh;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    .parallax__group2 {
      position: relative;
      xheight: 500px; /* fallback for older browsers */
      xheight: 100vh;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
    }

    .parallax__layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform-origin-x: 100%;
      transform-origin-x: 100%;
    }

    .parallax__layer--fore {
      -webkit-transform: translateZ(90px) scale(.7);
      transform: translateZ(90px) scale(.7);
      z-index: 1;
    }

    .parallax__layer--base {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      z-index: 4;
    }

    .parallax__layer--back {
      -webkit-transform: translateZ(-300px) scale(2);
      transform: translateZ(-300px) scale(2);
      z-index: 3;
    }

    .parallax__layer--deep {
      -webkit-transform: translateZ(-600px) scale(3);
      transform: translateZ(-600px) scale(3);
      z-index: 2;
    }
}

}







/* demo styles
--------------------------------------------- */

body, html {
  overflow: hidden;
}


* {
  margin:0;
  padding:0;
}


 /* centre the content in the parallax layers */
.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



/* style the groups
--------------------------------------------- */

#group1 {
  z-index: 5; /* slide over group 2 */
}
#group1 .parallax__layer--base {
  background: rgb(102,204,102);
}

#group2 {
  z-index: 3; /* slide under groups 1 and 3 */
}
#group2 .parallax__layer--back {
  background: rgb(123,210,102);
}

#group3{
  z-index: 4; /* slide over group 2 and 4 */
}
#group3 .parallax__layer--base {
  background: rgb(153,216,101);
}

#group4 {
  z-index: 2; /* slide under group 3 and 5 */
}
#group4 .parallax__layer--deep {
  background: rgb(184,223,101);
}

#group5 {
  z-index: 3; /* slide over group 4 and 6 */
}
#group5 .parallax__layer--base {
  background: rgb(214,229,100);
}

#group6 {
  z-index: 2; /* slide under group 5 and 7 */
}
#group6 .parallax__layer--back {
  background: rgb(245,235,100);
}

#group7 {
  z-index: 3; /* slide over group 7 */
}
#group7 .parallax__layer--base {
  background: rgb(255,241,100);
}


/* misc
--------------------------------------------- */
.demo__info {
  position: absolute;
  z-index:100;
  bottom: 1vh;
  top: auto;
  font-size:80%;
  text-align:center;
  width: 100%;
}



/* Microsoft Edge Browser 12+ (All) - @supports method */

@supports (-ms-accelerator:true) {

  .parallax__layer--fore, .parallax__layer--base, .parallax__layer--back, .parallax__layer--deep  {

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

}
